body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

.MainContainer {
  padding: 20px;
}
.DetailContainer {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f7db08;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Main Image */
.DetailImage {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Headings */
.DetailHeading {
  margin-top: 20px;
  font-size: 28px;
  color: #000;
}

/* Details */
.Date {
  margin-top: 8px;
  font-size: 20px;
  color: #000;
}

.Overview {
  padding: 10%;
  margin-top: 16px;
  font-size: 18px;
  text-align: left;
  color: #000;
  line-height: 1.6;
}

/* General Text Styling */
.MainCharacter,
.Runtime,
.MainChara,
.Genres,
.ProductionCompanies,
.Rating {
  margin-top: 16px;
  color: #333;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.MainCharacter:before,
.Runtime:before,
.MainChara:before,
.Genres:before,
.ProductionCompanies:before,
.Rating:before {
  margin-right: 8px;
  font-size: 20px;
}

.Runtime:before {
  content: '⏱️';
}

.ActorIcon {
  width: 80px;
}
.Genres:before {
  content: '🎬';
}

.ProductionCompanies:before {
  content: '🏭';
}

.Rating:before {
  content: '⭐';
}
.Date:before {
  content: '📆';
}

.MainCharacter {
  text-align: center;
  border-radius: 30%;
  border-top: 2px solid #ffffff;
  padding-top: 26px;
  padding: 40px;
}

h3 {
  font-size: 20px;
  color: #000000;
  padding-right: 12px;
}
.MainText {
  color: #000000;
  padding-right: 12px;
}
.MainChara p {
  font-size: 20px;
  color: #000;
}
.MainCharaImg {
  border-radius: 30px;
  align-items: right;
}
/* Movie Icon */
.movieicon {
  width: 12rem;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  right: 1.5%;
  bottom: 1%;
  z-index: 1;
  rotate: 20deg;
}

/* Torch */
.torch {
  width: 800px;
  height: 800px;
  overflow: hidden;
  position: absolute;
  right: 10%;
  bottom: -5%;
  z-index: 1;
  rotate: 120deg;
}

.torchlight {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 248, 196, 0.9) 0%,
    rgba(79, 74, 74, 0) 80%
  );
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  animation: flicker 1s infinite alternate;
}

/* Media Queries */
@media (max-width: 775px) {
  .torch,
  .movieicon {
    display: none;
  }
}

@media (max-width: 450px) {
  h3 {
    font-size: 15px;
    color: #000000;
    padding-right: 12px;
  }
  .MainText {
    font-size: 10px;
    color: #000000;
    padding-right: 12px;
  }
  .MainCharaImg {
    width: 120px;
  }
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
