.active {
  background-color: rgb(255, 247, 0);
  color: #000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 247, 5);
}

.logo {
  width: 40px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: aliceblue;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}
nav ul li a:not(.active):hover {
  background-color: #72a19b;
}
nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}
nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
}
@media (max-width: 529px) {
  nav .menu {
    display: flex;
  }
  nav {
    flex-direction: column;
    align-items: start;
  }
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    padding-right: 10px;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }
  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}
.toggle {
  background-color: yellow;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-right: 10px;
  margin-bottom: 2px;
  box-shadow: inset 0 0 2px #575750;
  box-shadow: 0 8px 6px -6px rgb(192, 192, 192);
}
